spring:
  datasource:
    url: jdbc:h2:mem:travel_sx;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      mode: always
      schema-locations: classpath:init.sql
      encoding: UTF-8
      continue-on-error: true
